input[type="checkbox"]:checked + a {
  background:
  linear-gradient(to top left,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(75, 22, 22, 0) calc(50% + 0.8px),
      rgba(0,0,0,0) 100%),
  linear-gradient(to top right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,0) calc(50% + 0.8px),
      rgba(0,0,0,0) 100%);
}

a {
    color: black;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 30px;
}

.box-container {
  display: flex;
  padding-bottom: 30px;
}

.ope-container {
  display: flex;
}

.upChange, .downChange, .textChange , .bottomChange, .topChange {
  cursor: pointer;
  margin-left: 18px;
  color: #585867;
  border: 1.4px solid #585867;

}

.purge {
  cursor: pointer;
}

.invisible-form {
  display: none;
}

.visible {
  display: block;
}

.delete {
  color: #585867;
  cursor: pointer;
  border: 1.4px solid #585867;
}


.now-page {
  color: red !important;
}